{% if  site.categories.length > 0 %}
<div class="pond-card white">
  <div class="pond-card-title"> {{ __('categories') }} </div>
  <div class="pond-card-content">
    	{{ list_categories({depth: 2, show_count: false}) | safe }}
  </div>
</div>
{% endif %}
      