{% extends 'includes/layout.njk' %}

{% block body %}
  <div class="row ">
    <div class="col s12  m8 l9">
        {% include 'includes/recent-posts.njk' %}
    </div>

  	<div class="col m4 l3">
      <div id="indexViewRightCol" class="hide-on-small-only">
        
        {% include 'widgets/categor.njk' %}
        {% include 'widgets/tag.njk' %}
              
      </div>
    </div>
  </div>
  {% include 'includes/pagination.njk' %}
{% endblock %}
